@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
}

/*---- Header Logo -- */
header {
  background-color: white;
}

.logo {
  width: fit-content;
}
.logo img {
  max-height: 100px;
}

@media only screen and (max-width: 464px) {
  .logo {
    width: 300px;
    height: 100px;
    margin-bottom: 2px;
  }

  .logo img {
    width: 290px;
    height: min-content;
  }
}

.logo img {
  height: 140px;
}

/*---Navigation Menu --*/
nav {
  height: max-content;
  background-color: #dc2e27;
  display: flex;
}

.nav_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-right: 80px;
  margin-bottom: 0;
}

.nav_list a {
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}

.nav_list a:hover {
  color: white;
  text-decoration: none;
}

.nav_list li {
  margin: 0;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 576px) {
  .nav_list li {
    border-bottom: 1px dotted white;
    margin-right: 200px;
    height: 15px;
    width: max-content;
  }

  .nav_list a {
    font-size: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .nav_list {
    padding-right: 10px;
    margin-bottom: 0;
  }

  .nav_list {
    padding-left: 0;
  }
}

.nav_list li:hover {
  background-color: rgb(44, 44, 44);
}

.nav_list ul {
  margin: 0;
}

/* --Notification --*/
.notification {
  height: 2rem;
  background-color: rgb(27, 27, 27);
}

#marque_txt {
  color: white;
  margin: 0.5rem;
}

/* --Contect Butoon --*/
.contect_button_fix {
  height: 180px;
  width: max-content;
  position: relative;
  top: 300px;
  right: 0;
  position: fixed;
  border: 1.6px solid white;
}

.contect_box {
  height: 60px;
  width: 60px;
  border: 1.4px solid white;
  background-color: #dc2e27;
  border-right: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide_contect {
  height: 60px;
  position: absolute;
  top: 0;
  right: 60px;
  width: 180px;
  background-color: #dc2e27;
  display: none;
  border: 1.8px solid white;
  border-right: 0;
  text-align: center;
}

.hide_contect p {
  color: white;
  font-weight: 600;
  font-size: 20px;
  margin-top: 12px;
}

.contect_box:hover .hide_contect {
  display: block;
  border-right: 0;
}

.contect_box:hover {
  border-left: 0;
}

/* Course Offered */
.course {
  height: max-content;
  width: 100%;
  background-color: rgb(55, 55, 55);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.course_sec {
  width: 80%;
  height: 90%;
  color: white;
  display: flex;
  flex-direction: column;
}

.course_sec p {
  font-weight: 500;
  font-size: 30px;
  height: 40px;
  margin: 0;
  margin-left: 85px;
}

.course_sec ul {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  height: max-content;
  justify-content: center;
  align-items: center;
  justify-self: center;
  padding-top: 15px;
}

.course_sec a {
  color: white;
  text-decoration: none;
  overflow: auto;
}

.course_sec a:hover {
  color: white;
  text-decoration: none;
}

.course_sec ul li {
  color: white;
  width: 300px;
  height: 40px;
  border-bottom: 1px dashed white;
  margin: 10px;
  list-style: none;
}

.course_sec ul li:hover {
  background-color: rgb(72, 72, 72);
}

@media only screen and (max-width: 446px) {
  .course_sec ul li {
    width: 100%;
    margin-left: 0;
  }

  .course_sec p {
    font-size: 25px;
    text-align: center;
    margin-left: 0;
  }

  .course_sec {
    width: 100%;
    height: 90%;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }

  .course_sec ul {
    padding: 0;
  }
}

/* Wall/Motofication/News*/
.wall {
  height: max-content;
  background-color: #dc2e27;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.wall_box {
  height: 500px;
  width: 300px;
  background-color: rgb(55, 55, 55);
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 1px 1px 5px 1px white;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wall_box h3 {
  text-align: center;
  margin-top: 10px;
  color: white;
  text-decoration: underline;
}

.wall_box p {
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.latest_news {
  width: 90%;
  box-shadow: px 2px 5px 3px rgb(117, 117, 117);
  height: 420px;
  overflow: scroll;
  background-color: white;
}

.latest_news ul {
  padding-left: 10px;
  list-style-type: square;
}

.latest_news ul li {
  margin-bottom: 5px;
  border-bottom: 1px solid black;
}

.latest_news a {
  margin-bottom: 5px;
  font-weight: 600;
  color: blue;
}

.latest_news :hover {
  color: red;
}

/*  More Information */
.mytabs {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 50px auto;
  padding: 25px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 40px;
  padding-bottom: 40px;
}

.mytabs input[type="radio"] {
  display: none;
}

.mytabs label {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-top: 17px;
  background: #dc2e27;
  font-weight: 400;
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 20px;
  width: max-content;
  margin-right: 20px;
  margin-bottom: 0px;
}

@media only screen and (max-width: 986px) {
  .mytabs label {
    height: 2px;
    font-size: 10px;
    margin-right: 5px;
    font-weight: 0;
    margin-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    word-wrap: break-word;
  }
}

@media only screen and (max-width: 604px) {
  .mytabs label {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-top: 17px;
    font-weight: 400;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 20px;
    width: 400px;

    margin-bottom: 3px;
  }

  .box_info2 {
    font-size: 12px;
  }

  .box_info2 h4 {
    font-size: 15px;
  }
}

.mytabs .tab {
  width: 100%;
  padding: 5px;
  background: #fff;
  order: 1;
  display: none;
  height: max-content;
}

.mytabs input[type="radio"]:checked + label + .tab {
  display: block;
}

.mytabs input[type="radio"]:checked + label {
  background: white;
  color: black;
  font-weight: 600;
}

.more_info {
  background-color: rgb(55, 55, 55);
  height: max-content;
}

.box_info {
  height: max-content;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-right: 10px;
}

.box_info2 {
  height: max-content;
  width: 400px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 40px;
}

.box_info2 p {
  color: rgb(53, 53, 53);
  font-style: italic;
}

#story {
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story_img {
  height: 120px;
  width: 120px;
  box-shadow: 2px 2px 5px 1px gray;
  border-radius: 100px;
  background-image: url("https://iconoir.com/chris-messina.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#story2 {
  background-image: url("https://img.freepik.com/premium-photo/portrait-beautiful-woman-street-with-her-arms-crossed-her-chest_668450-121.jpg");
}

.story_para {
  height: max-content;
  width: 100%;

  margin-top: 5px;
  color: rgb(80, 80, 80);
  font-style: italic;
}

.summery_last {
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(24, 24, 24);
  color: white;
}

.summery_box {
  height: 1.4in;
  width: 2.5in;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.summery_logo {
  height: 1in;
  width: 1in;
  box-shadow: 1px 1px 10px 1px red;
  border-radius: 100%;
  margin-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: contain;
}

#summery_logo:hover {
  background-color: #dc2e27;
}

#summery1 {
  background-image: url("https://cdn.vectorstock.com/i/preview-1x/83/03/academic-research-talent-rgb-color-icon-vector-39798303.jpg");
}

#summery2 {
  background-image: url("https://thumbs.dreamstime.com/b/basic-rgb-184479721.jpg");
}

#summery3 {
  background-image: url("https://img.freepik.com/premium-vector/placement-icon-man-pin_116137-3731.jpg");
}

#summery4 {
  background-image: url("https://png.pngtree.com/png-clipart/20191120/original/pngtree-computer-icon-png-image_5064133.jpg");
}

#summery5 {
  background-image: url("https://media.istockphoto.com/id/1326051977/vector/academic-hat-and-stack-of-textbooks-abstract-educational-icon.jpg?s=612x612&w=0&k=20&c=Dyu5bhmZLmLC_Zbe-vAAtke2WojPjO5ECSD_LjfPpa8=");
}

.summery_text {
  height: 1.2in;
  width: 1.3in;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.summery_text h4 {
  font-weight: 800;
}

/* footer */
footer {
  height: max-content;
  background-color: #dc2e27;
}

.social {
  height: max-content;
  display: flex;
  padding-top: 40px;
}

.social ul {
  height: max-content;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.social ul li {
  height: 0.8in;
  width: 0.8in;
  display: flex;
  justify-content: center;

  align-items: center;
}

.social li:hover {
  background-color: rgb(39, 39, 39);
  border-radius: 100%;
  cursor: pointer;
}

.social li:active {
  background-color: red;
}

.social img {
  filter: invert(1);
  height: 30px;
  width: 30px;
}

.footer-links {
  margin-top: 20px;
}

.footer-links ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:hover {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
}

.footer-links ul li {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1rem;
  font-weight: 500;
}

.footer-links ul li:hover {
  background-color: #dc2e27;
}

/*Aside*/
aside {
  text-align: center;
  font-weight: 800;
  color: white;
  font-size: 1.2rem;
  padding-bottom: 10px;
}

/*---All  Pages Style ---*/

.Acadmic_page {
  display: flex;
  justify-content: center;
  height: max-content;
  background-color: gray;
  padding-bottom: 40px;
  padding-top: 40px;
}

.Acadmic_page h1 {
  position: relative;
  text-align: center;
}

.Page_containt {
  height: max-content;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.783);
  padding-bottom: 20px;
  box-shadow: 2px 2px 10px 2px rgb(255, 255, 255);

  top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Page_containt p {
  color: black;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 1.5rem;
}

.Page_containt h1 {
  color: red;
  text-shadow: 2px 2px white;
  font-size: 40px;
}

@media only screen and (max-width: 988px) {
  .Page_containt p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 512px) {
  .Page_containt p {
    font-size: 0.7rem;
  }
}

#Path {
  align-self: baseline;
  margin-left: 20px;
  color: red;
}

#page_text {
  font-size: 17px;
}

#Path a {
  font-size: 1.3rem;
  color: red;
}

/* ---- 1. ACADMIC -----*/

.Acadmic {
  background-image: url("https://png.pngtree.com/background/20210709/original/pngtree-creative-housing-sun-background-books-education-poster-picture-image_557788.jpg");
}

/* --- 2. Admin -----*/
.admin {
  background-image: url("https://uploads-ssl.webflow.com/5fae79706d8334674145afcd/60d0f685e4661743bd213cb3_Effective-school-administration-supports-databased-decision-making_896_6065058_0_14102171_1000.jpeg");
}

/* ---3. Admission---*/
.admission {
  background-image: url("https://www.studying-in-germany.org/wp-content/uploads/2013/02/germany-University-admission.jpg");
}

/*----- Reasults -----*/
.result {
  background-size: contain;
  background-image: url("https://cache.careers360.mobi/media/article_images/2021/1/25/TS-PGECET-Result-2021.jpg");
}

.result a:hover {
  color: red;
  font-weight: 600;
}

/*---5. Placements ---*/

.placement {
  background-image: url("https://i.pinimg.com/originals/09/18/de/0918de2bda2c32cfbb4566ed4f8e9834.jpg");
}
